* {
    margin: 0;
    padding: 0;

  }
  body {
    background: linear-gradient(360deg, #1D2D55 0%, rgba(124, 136, 167, 0.85) 219.14%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Roboto", sans-serif;
    height: 100vh;
  
  }
  li{
    list-style: none;
  }
